@font-face {
    font-family: 'Jali-r';
    src: url('../fonts/JaliArabicRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jali-m';
    src: url('../fonts/JaliArabicMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Jali-b';
    src: url('../fonts/JaliArabicBold.ttf') format('truetype');
}

* {
    font-family: Jali-r;
    color: #000;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Jali-b;
}

.primaryC {
    color: #181E4B;
}

.primaryBg {
    background-color: #181E4B;
}

.secondaryC {
    color: #122DA0;
}

.secondaryBg {
    background-color: #122DA0;
}

.navbar-brand img {
    height: 85px;
}

.navbar {
    position: absolute;
    margin-left: -12px;
}

.bg-shape {
    position: absolute;
    height: 190%;
    width: 100%;
    display: block;
    border-radius: 120px;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    bottom: 0;
    right: 0;
    -webkit-transform: translate(35%, -28%) rotate(-35deg);
    transform: translate(35%, -28%) rotate(-35deg);
}

.mainHeader {
    position: relative;
}
.mainHeader .row{
    height: 550px;
}
.mainHeader h5 {
    font-size: 1.5rem;
}

.mainHeader p {
    color: #707070;
    font-size: 1.4rem;
}

.parallex {
    background-image: url(../img/gray-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.theRight {
    padding: 4rem 0;
}

.goalBlock {
    margin: 1.2rem 2.5rem;
}

.goalBlock p {
    margin: 0
}

.goalBlock img {
    height: 62px;
}

.waitingApproval {
    background-image: url(../img/footerbg.png);
    background-size: cover;
    height: 280px;
    display: flex;
}
.waitingApproval p{
    font-size: 1.5rem;
    text-align: center;
}